.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loginBox {
  background-color: var(--ifm-card-background-color);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginBox h1 {
  color: var(--ifm-color-primary);
}
