 .advantageSection {
    padding: 3em 0em 2em 1em;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .center {
    text-align: center;
}
